# Django Settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database Settings (PostgreSQL)
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# JWT Settings
JWT_ACCESS_TOKEN_LIFETIME=
JWT_REFRESH_TOKEN_LIFETIME=

# Logging
LOG_LEVEL=
